.site-topbar{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    padding: 2px;
    background: var(--bluedark);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.site-topbar svg{
    color: var(--white);
    padding-right: 20px;
    cursor: pointer;
}
.notify-count{
    margin-right: 14px;
    cursor: pointer;
    top: 5px;
    border-radius: 50%;
    font-size: 12px;
    background: red;
    color: var(--white);
    position: absolute;
    height: 15px;
    width: 15px;
    text-align: center;
}