.single-unit-page{
    width: 100%;
    background: var(--fibg);
    min-height: 1000px;
    padding-bottom: 100px;
    padding-top: 20px;
    box-sizing: border-box;
    
}
.single-unit-content{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.single-u-c-heading{
    box-sizing: border-box;
    width: 100%;
    background: var(--bluedark);
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--white);
}
.single-u-c-heading .unit-number-id, .single-u-c-heading .icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2px;
}
.single-unit-main{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 60px 30px;
    box-sizing: border-box;
    background: var(--white);
    border: 1px #e5e5e5 solid;
    padding-bottom: 150px;
}
.single-unit-main .s-u-basic-content .item{
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    line-height: 40px;
    color: #555;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.single-unit-main .s-u-basic-content .item .download{
    color: var(--blue);
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    line-height: 40px;
}
.single-unit-main .s-u-basic-content .item b{
    width: 180px;
}
.single-unit-main .s-u-basic-content .item svg{
    color: var(--blue);
    padding-right: 10px;
}
.single-unit-main-left{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.single-unit-main-mid{
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.single-unit-main-right{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.single-unit-main-mid svg{
    width: 100%;
    height: 80%;
    color: #eeeeee;
}
.single-unit-main-mid h5{
    font-size: 16px;
}
.single-unit-main-mid img{
    margin-top: -150px;
}