.navigation-main{
    width: 150px;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--bluedark);
    box-shadow: 5px 2px 8px -2px rgba(0,0,0,0.68);
}
.logo{
    width: 100%;
    padding: 10px;
    padding-top: 40px;
    box-sizing: border-box;
}
.logo .logo-img{
    width: 100%;
    height: 100%;
}
.navigation-list{
    width: 100%;
    
}
.navigation-list ul{
    list-style: none;
    padding-left: 15px;
    padding-top: 30px;
}
.navigation-list ul li{
    margin:10px 0;
}
.navigation-list ul li a{
    color: var(--white)!important;
    font-weight: 700;
}
.navigation-list ul li a:hover{
    color: var(--blue)!important;
}